#home { 
  		background: url(/movieback.jpg) no-repeat center center; 

  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
		}
		.ui-page {
    		background: transparent;
		}
		
		 
	#movies { 
		color: tomato;
		}
		.ui-content{
    		background: transparent;
		}

		.textcontain { 
			max-width: 30%;
			padding-left: 30px;
			
		}

		
		.container { 
			display: flex;
			flex-wrap: wrap;
		}
		
		p { 
			color: black;
			font-family: 'Roboto';
		}
		
		li { 
			text-align: center;
			list-style: none;
		}
		
		#movielist { 
			display: flex; 
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 20px;
			flex-direction: column;
		}
		
		h1 { 
			font-family: 'Roboto';
			font-size: 4em;
			padding-left: 30px;
		}
		
		button { 
			max-width: 50%;
			text-align: center;
		}
		
		input { 
			max-width: 60%;
			text-align: center;
		}
		
		* { 
			box-sizing: border-box;
		}


		.itemresults h1 { 
			font-family: 'Roboto';
			font-size: 1em;
		}

		.synop { 
			width: 40%;
			height: auto;
			display: flex;
			flex-wrap: wrap;
		}

		.containerresults img { 
			width: 20.9999999%;
			height auto;
			overflow: hidden;
		}


		.containerresults {
  			width: 100%;
  			height: auto;
  			background-color: lightgrey;
  			display: flex;
  			flex-direction: column;
  			flex-wrap: wrap;
  			justify-content: center;
  			align-items: center;
		}

		.itemresults {
 			 width: 80%;
  			height: 60vh;
  			background-color: white-smoke;
  			margin: 30px;
  			display: flex;
  			text-align: center;
  			flex-direction: row;
  			justify-content: space-between;
  			flex-wrap: wrap;
  			align-items: center;
  			border-bottom: 1px solid grey;

  			border-radius: 5px;
  			padding: 10px;

}	
		


@media screen and (max-width: 500px) {
  
  #home { 
  		background: url(/cam.png) no-repeat center; 
		}
		
  
   h1 { 
   	text-align: center;
   	padding-left:1px;
   }

.textcontain { 
	display: flex;
	max-width: 80%;
	margin-top: 250px;
/* 	padding-left:0px; */
	justify-content: center;
	align-content: center;
	align-items: center;
}


titlecontain { 
	padding-top: 0px;
	padding-bottom: 10px;
}
		
}	


@media screen and (min-width: 0px) {

	.item { 
		flex-direction: column;
		width: 100%;
	}

	.synop { 
		width: 100%;
		height: auto;
	}

	.container img { 
		width: 50%;
		height auto;
		overflow: hidden;
	}

}


@media screen and (min-width: 270px) {

	.item { 
		flex-direction: column;
		width: 100%;
	}

	.synop { 
		width: 100%;
		height: auto;
	}

	.container img { 
		width: 40%;
		height auto;
		overflow: hidden;
	}

}


@media screen and (min-width: 318px) {


	.container img { 
		width: 40%;
		height auto;
		overflow: hidden;
	}
	
	.container img { 
		width: 40%;
		height auto;
		overflow: hidden;
	}

}



@media screen and (min-width: 344px) {

		.item { 
			flex-direction: row;
			width: 80%;
		}
		
		.container img { 
			width: 20.9999999%;
			height auto;
			overflow: hidden;
		}

		.synop { 
			width: 40%;
			height: auto;
		}

}
	